<a href="https://colab.research.google.com/github/Lewis-Clark-Palmes/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [3]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

Bool() Function

In [6]:
print(bool(10))
print(bool(0))
print(bool(-4))

True
False
True

Functions can Return a Boolean

In [16]:
def myFunction():
  return True

print(myFunction())

True

In [20]:
def myFunction():
  return True #false will print no

if myFunction():
  print("YES!")
else:
  print("NO!")

print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

YES!
True
False
False

Python Operators

In [27]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)

print(10/3)
print(10//3)
print(10%3)

15
5
50
2.0
3.3333333333333335
3
1

Python Bitwise Operators

In [42]:
a=60
b=13

print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)

12
61
49
-61
240

Python Assignment Operator

In [46]:
x=3
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)

6
3
9
3.0
0.0

Logical Operators

In [51]:
not(10>9 and 9>10)

True

Identity Operator

In [58]:
x=1
y=2
print(x is y)
print(x is not y)

False
True

Conditional Statement

In [59]:
#1 if statement
a=12
b=100
if b>a:
  print("b is greater than a")

b is greater than a

Elif Statements

In [60]:
a=12
b=12
if b>a:
  print("b is greater than a")
elif a==b:
  print("a is greater than a")

a is greater than a

Else Statements

In [61]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Short Hand If Statements

In [71]:
if a>b: print("a is greater than b")

a is greater than b

Short Hand If .Else Statements

In [63]:
a=2
b=330
print("A") if a>b else print("B")

B

And-Both Conditions are True

Or-at least one of the Conditions is True

In [69]:
a=200
b=33
c=500
if a>b and c>a:
  print("Both conditions are true")

Both conditions are true

In [70]:
a=200
b=33
c=500
if a>b or a>c:
  print("At least one of the conditions is true")

At least one of the conditions is true

Nested If

In [81]:
x=41

if x>10:
  print("Above ten")
  if x>20:
    print("Above Twenty")
  else:
    print("But not above Twenty")

Above ten
Above Twenty

Nested If Else

In [96]:
x=29.99

if x>10:
  print("Above ten")
else:
  print("Not above ten")
if x>20:
  print("Above Twenty")
else:
  print("But not above Twenty")
if x>30:
  print("Above Thirty")
else :
  print("But not above Thirty")
if x>40:
  print("Above Forty")
else:
  print("But not above Forty")
if x>50:
  print("Above Fifty")
else:
  print("Below Fifty")

Above ten
Above Twenty
But not above Thirty
But not above Forty
Below Fifty

Application Example #1

In [99]:
age=int(input("Enter your age:"))
if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

Enter your age:100
You are qualified to vote

Application Example #2

In [100]:
number=float(input("Enter a number:"))
if number>0:
  print("Positive")
elif number<0:
  print("Negative")
else:
  print("Zero")

Enter a number:-99
Negative

Application Example #3

In [118]:


grade=float(input("Enter a number:"))
if grade>=75:
  print("Passed")
elif grade>=74:
  print("Remedial")
else:
  print("Failed")

Enter a number:74.99
Remedial