<a href="https://colab.research.google.com/github/Lewis-Clark-Palmes/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON INDENTATION

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

PYTHON COMMENTS

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

PYTHON VARIABLE

In [11]:
z=1
a,b=0,-1
print (a)
print (b)
print (z)
c= "Sally" #This is a type of string
print (c)
#This is a type of string

0
-1
1
Sally

CASTING

In [14]:
b= "Sally" #This is a type of string
b = int (4)
b = float (4)
print (b)

4.0

TYPE () FUNCTION

In [13]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

DOUBLE OR SINGLE QUOTE

In [16]:
y = "John"
x = 'John'
print (y)
print (x)

John
John

CASE SENSITIVE

In [18]:
a = 4
A = "Sally"
print (a)
print (A)
# A will n ot overwrite a

4
Sally

MULTIPLE VARIABLES

In [28]:
x , y , z = "One","Two","Three"
print (x)
print (y)
print (z)

One
Two
Three

ONE VALUE TO MULTIPLE VARIABLE

In [21]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

OUTPUT VARIABLE

In [23]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

ARITHMETIC OPERATIONS

In [29]:
x = 10
y = 3
#Exponentiation
x**y
#Division
x/y
#Floor Division
x//y
#Modulo
x%y

1

ASSIGNEMENT OPERATOR

In [30]:
x = 3
x*=3 # x = x*3
print (x)

9

COMPARISON OPERATOR

In [31]:
x = 5
y = 2
x>>y

1

LOGICAL OPERATOR

In [38]:
x = 5
y = 2
not x>y

False

BITWISE OPERATOR

In [53]:
#Decimal to binary
#10 = 1010

x = 10
x>>1
#print (x)

5

APPLICATION 1

In [84]:
#APPLICATION 1


#AREA OF A SQUARE
x = 3
area = x**2
print ("The area of the square is " , area, "cm^2")

#AREA OF A CIRCLE
r = 2
pi = 3.14
area = pi*r**2
print ("The area of the circle is " , area, "cm^2")

#AREA OF A TRIANGLE
b = 2
h = 3
area = (b*h)/2
print ("The area of the triangle is " , area, "cm^2")

The area of the square is  9 cm^2
The area of the circle is  12.56 cm^2
The area of the triangle is  3.0 cm^2